<h1 class="title">MODULE BAC A SAB</h1>

<div class="card p-3">
    <p>All the words in the list :</p>
    <p>{{wordsDatabase}}</p>
</div>

<div class="card p-3">
    <p>Only english words method :</p>
    <p>{{GetEnglishWords(wordsDatabase)}}</p>
</div>

<div class="card p-3">
    <p>Only japanese words method :</p>
    <p>{{GetJapaneseWords(wordsDatabase)}}</p>
</div>

<div class="card p-3">
    <p>Put the english and japanese tabs into sections (css stuff)</p>
    <div class="column">
        <div class="column">
            <ul *ngFor="let e of GetEnglishWords(wordsDatabase)">
                <li class="card">{{e}}</li>
            </ul>
        </div>
        <div class="column">
            <ul *ngFor="let e of GetJapaneseWords(wordsDatabase)">
                <li class="card">{{e}}</li>
            </ul>
        </div>
    </div>
</div>

