<h1 class="title">MODULE BAC A SAB</h1>

<div class="card p-3">
    <p>All the words in the list :</p>
    <p>{{wordsDatabase}}</p>
</div>

<div class="card p-3">
    <p>Only english words method :</p>
    <p>{{GetEnglishWords(wordsDatabase)}}</p>
</div>

<div class="card p-3">
    <p>Only japanese words method :</p>
    <p>{{GetJapaneseWords(wordsDatabase)}}</p>
</div>

<div class="card p-3">
    <p>Put the english and japanese tabs into sections (css stuff)</p>
    <div class="columns"> <!-- do not forget the S for the container -->
        <div class="column is-half"> <!-- no S for the column elements -->
            <ul *ngFor="let e of GetEnglishWords(wordsDatabase)">
                <li class="card has-text-info p-2 m-1">{{e}}</li>
            </ul>
        </div>
        <div class="column is-half">
            <ul *ngFor="let e of GetJapaneseWords(wordsDatabase)">
                <li class="card has-text-info p-2 m-1">{{e}}</li>
            </ul>
        </div>
    </div>
</div>

