<div class="container">
    <h2>6 first pokemons</h2>
    <hr />
    <div class="columns">
        <div class="column is-one-third">
            <p>{{pokemonCount}} pokemons in database</p>
            <p *ngIf="selectedPokemon">Selected pokemon is : {{selectedPokemon}}</p>
        </div>
    </div>
    <div class="columns">
        <div class="column is-two-third">
            <form>
                <div class="field has-addons">
                    <div class="control">
                        <input class="input" name="pokemonSearch" type="text" placeholder="Pokemon name" 
                        [(ngModel)]="pokemonSearchForm.name" (keyup)="search(pokemonSearchForm.name)">
                    </div>
                    <div class="control">
                        <a class="button is-primary" (click)="search(pokemonSearchForm.name)">Search</a>
                    </div>
                    <div class="control">
                        <a class="button is-light" (click)="cancelSearch()">Cancel</a>
                    </div>
                </div>


            </form>
        </div>
    </div>

    <form>
        
        
        
    </form>
    <hr>
    <div class="columns">
        <div class="column">
            <p>In pokedex order</p>
            <p>{{pokemonCount}} pokemons in database</p>
            <p *ngIf="selectedPokemon">Selected pokemon : {{selectedPokemon}}</p>
        </div>
    </div>
    <div class="columns is-multiline">
        <ul class="menu-list column is-one-third" *ngFor="let pokemon of pokemons">
            <li><app-pokemon [pokemon]=pokemon (imageClickEvent)="selectedPokemon=$event"></app-pokemon></li>
        </ul>
    </div>
</div>
